node_modules/
.DS_Store
.idea
.gradle
*.log
build/
/releases
dist/
local.properties
.run
ios-device-tester-app.kexe
ios-device-tester-app.dylib
/gradle/build-cache

.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/kotlin-js-store/yarn.lock
app/resources/common/windows/x86_64/ios-device-tester-app.exe
*.zip
